

.categories_tab{
  background-color: #F2F2F2;
  display: inline-block;
  width: 200px;
  height: 50px;
  margin: 5px;
  line-height: 50px;
  border: 0.1px solid black;
  text-align: center;
}

.span{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;


}

.categories_tab:hover{
  background-color: green;
  color: #F2F2F2;
  cursor: hand;
}
